@page
@model StudentTopicWeb.Pages.Students.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Group)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Group.GroupId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Mail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Mail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.MiddleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.MiddleName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Student.UserId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
