@page
@model StudentTopicWeb.Pages.Disciplines.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Discipline</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Discipline.DiscName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Discipline.DiscName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Discipline.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Discipline.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Discipline.DisciplineId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
